@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.light {
  --background: color-mix(in oklab, var(--color-white)  50%, transparent);;
  --foreground: color-mix(in oklab, var(--color-white)  80%, transparent);;
}

.dark {
  --background: #171717;
  --foreground: #f0f0f0;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}